<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>Home</title>
</head>
<body>
    <h2>Please subscribe...</h2>
    <hr/>
    <div class="container">
        <% for (let cat of lista.categories) { %>
            <div class="minicontainer">
                <div class="naslovkat"><%=cat.name + " (" + cat.subs.length + ")"%></div>
                <img src=<%= cat.image %> class="slika">
                <form action="/subscribe/<%=cat.name%>" method="GET">
                    <button type = "submit">Subscribe</button>
                </form>
            </div>
        <% } %>
    </div>
</body>
</html>